[Unit]
Description=Jupyterlab
After=network.target

[Service]
Type=simple
SyslogIdentifier=jupyterlab
User=odoo
Group=odoo
ExecStart=jupyter-service
KillMode=mixed
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target