[Unit]
Description=Jupyterlab
After=network.target

[Service]
Environment=PATH=/opt/odoo.sh/jupyterlab/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=JUPYTER_DATA_DIR=/opt/odoo.sh/share/jupyter
Environment=PYTHONPATH="/home/odoo/odoo:/home/odoo/venv/lib/python3.10/site-packages/"
Type=simple
SyslogIdentifier=jupyterlab
PermissionsStartOnly=true
User=odoo
Group=odoo
ExecStart=/opt/odoo.sh/jupyterlab/bin/jupyter-lab --ip=0.0.0.0 --ServerApp.base_url=/odoo-sh/jupyterlabr
KillMode=mixed
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target