[Unit]
Description=Odoo Open Source ERP and CRM
After=network.target

[Service]
Restart=on-failure
RestartSec=1s
EnvironmentFile=/etc/environment
Type=simple
SyslogIdentifier=odoo
PermissionsStartOnly=true
User=odoo
Group=odoo
ExecStart=/bin/bash -c 'exec /home/odoo/venv/bin/python3 /home/odoo/src/odoo/odoo-bin --config=/home/odoo/odoo.conf --data-dir=/home/odoo/data --database=${PGDATABASE} --logfile=/home/odoo/logs/odoo.log --addons-path=$(extract_addons_path) --pidfile=/home/odoo/.pid'
KillMode=mixed
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target