[Unit]
Description=Odoo Open Source ERP and CRM
After=network.target

[Service]
Restart=always
EnvironmentFile=/etc/environment
Type=simple
SyslogIdentifier=odoo
PermissionsStartOnly=true
User=odoo
Group=odoo
ExecStart=python3 odoo-bin --pidfile=/home/odoo/.pid
KillMode=mixed
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target