[Unit]
Description=Odoo Open Source ERP and CRM
After=network.target

[Service]
Restart=always
EnvironmentFile=/etc/environment
Type=simple
SyslogIdentifier=odoo
PermissionsStartOnly=true
User=odoo
Group=odoo
ExecStart= /usr/bin/odoo-service
KillMode=mixed
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
