Source: odoo-host
Section: devel
Priority: optional
Maintainer: Jane Doe <packager@example.com>
Standards-Version: 3.9.3
Homepage: http://www.gnu.org/software/hello/
Package: odoo-host
Architecture: any
Depends: python3
Description: Odoo hosting
