Source: odoo-host
Section: devel
Priority: optional
Maintainer: Jane Doe <packager@example.com>
Version: 3.9.3
Homepage: http://www.gnu.org/software/hello/
Package: odoo-host
Architecture: amd64
Depends: python3,python3-pip,python3-wheel,python3-venv,postgresql
Description: Odoo hosting
