Source: odoo_host
Maintainer: Jane Doe <packager@example.com>
Version: 3.9.3
Homepage: http://www.gnu.org/software/hello/
Package: odoo_host
Architecture: amd64
Depends: python3
Description: Odoo hosting
